//
// tabs.scss
//


.switch {
    display: flex;
    align-items: center;
    justify-content: center;

    &__value-left {
        .is-checked & {
            opacity: .2
        }
    }

    &__value-right {
        opacity: .2;

        .is-checked & {
            opacity: 1;
        }
    }

    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 78px;
        height: 39px;
        display: block;
        border-radius: 100px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 4px;
            left: 7px;
            width: 31px;
            height: 31px;
            background: #fff;
            border-radius: 90px;
            transition: 0.1s;
        }
    }

    input {
        height: 0;
        width: 0;
        visibility: hidden;

        &:checked {
            & + label {
                background: linear-gradient(307.4deg, #09203f 10.2%, #537895 100%);

                &:after {
                    left: calc(100% - 7px);
                    transform: translateX(-100%);
                }
            }
        }
    }
}

