//
// footers.scss
//


footer {
  padding: 3.75rem 0;

  .nav-item {
    .nav-link {
      display: flex;
      justify-content: center;
      align-items: center;
      height: $spacer*3;
      width: $spacer*3;
    }
  }

  @include media-breakpoint-up(md) {
    padding: 6rem 0;
  }
  @include media-breakpoint-up(lg) {
    padding: 7.5rem 0;
  }
}




